#include <winver.h>

#pragma code_page(65001)

1 ICON "z6y-logo.ico"
1 RT_MANIFEST "receiver.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,4,21,0
PRODUCTVERSION 0,4,21,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404B0"
        BEGIN
            VALUE "CompanyName", "z6y\0"
            VALUE "FileDescription", "直播投屏助手接收端\0"
            VALUE "FileVersion", "0.4.21.0\0"
            VALUE "InternalName", "直播投屏助手\0"
            VALUE "OriginalFilename", "直播投屏助手.exe\0"
            VALUE "ProductName", "直播投屏助手\0"
            VALUE "ProductVersion", "0.4.21.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
